body {
    background-color: lightgreen;
}

#row1 {
    background-color: rgba(12, 12, 12, 0.817);
    font-family: 'Alkalami', serif;
    min-height: 90vh;
}

#row2 {
    background-color: rgba(26, 25, 25, 0.897);
    font-family: 'Alkalami', serif;
    min-height: 60vh;
}

#row3 {
    background-color: rgba(12, 12, 12, 0.817);
    padding: 20px 0;
    font-family: 'Alkalami', serif;
    min-height: 45vh;
}

.name {
    color: rgb(191, 255, 0);
}

#btmail:hover {
    color: red;
}

@media screen and (min-width: 768px) {
    #row2{
        font-size: 1.5rem;
    }
    #row3{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 280px) {
   #row1{
    min-height: 80vh;
   }
}